---
import Dev from '../../icons/dev.astro'
import Hulo from '../../icons/hulo.astro'
import Ngrok from '../../icons/ngrok.astro'
import Roblox from '../../icons/roblox.astro'
import Voicedmod from '../../icons/voicedmod.astro'
---

<div class='ticker ticker-mask-x my-20 max-w-2xl mx-auto *:hover:animate-pause'>
	<div
		class='ticker-wrapper animate-ticker-left animate-duration-[40s] *:mx-7 items-center'
	>
		<Dev class='h-24' />
		<Roblox class='h-12' />
		<Hulo class='h-12' />
		<Ngrok class='h-20' />
		<Voicedmod class='h-12' />
	</div>
	<div
		class='ticker-wrapper animate-ticker-left animate-duration-[40s] *:mx-7 items-center'
	>
		<Dev class='h-24' />
		<Roblox class='h-12' />
		<Hulo class='h-12' />
		<Ngrok class='h-20' />
		<Voicedmod class='h-12' />
	</div>
</div>
