---
import AstroIcon from '../../icons/astro-icon.astro'
import Express from '../../icons/express.astro'
import Remix from '../../icons/remix.astro'
import Elysia from '../../icons/elysia.astro'
import Flask from '../../icons/flask.astro'
---

<div
	class='ticker-y ticker-mask-y h-52 mx-auto *:hover:animate-pause w-fit my-5'
>
	<div
		class='ticker-wrapper-y animate-ticker-top animate-duration-[20s] flex justify-center *:my-3'
	>
		<AstroIcon class='h-20' />
		<Express class='h-14' />
		<Remix class='h-14' />
		<Flask class='h-20' />
		<Elysia class='h-20' />
	</div>
	<div
		class='ticker-wrapper-y animate-ticker-top animate-duration-[20s] flex justify-center *:my-3'
	>
		<AstroIcon class='h-20' />
		<Express class='h-14' />
		<Remix class='h-14' />
		<Flask class='h-20' />
		<Elysia class='h-20' />
	</div>
</div>
