---
import Github from '../icons/github.astro'
---

<header class='w-full py-14 flex justify-end px-2'>
	<div class='flex flex-1 gap-3 text-slate-50/50 font-medium'>
		<a href='/'> Home</a>
		<a href='/horizontal/'> Horizontal</a>
		<a href='/vertical/'>Vertical</a>
	</div>
	<a
		href='https://github.com/Chust3r/tailwind-ticker'
		target='_blank'
		role='button'
	>
		<Github class='w-7 h-7' />
		Tailwind Ticker
		A simple and beautiful plugin for TailwindCSS
	</a>
</header>
